{% extends 'base-logged.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Task Preview</h1>

            <p>
                {{ task.content }}
            </p>

            <ul>
                <li>Added: {{ task.addDate|date('d.m.Y H:i') }}</li>
            </ul>

            <a href="{{ path('task') }}" class="btn btn-lg btn-primary">Back</a>

        </div>
    </div>

{% endblock %}
